[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/doyilee
[access "refs/for/refs/*"]
	read = group user/doyilee
	push = group user/doyilee
	label-Code-Review = -2..+2 group user/doyilee
	label-Verified = -1..+1 group user/doyilee
	rebase = group user/doyilee
	removeReviewer = group user/doyilee
	submit = group user/doyilee
[access "refs/heads/*"]
	read = group user/doyilee
	create = group user/doyilee
	push = +force group user/doyilee
	pushMerge = group user/doyilee
[access "refs/tags/*"]
	push = +force group user/doyilee
	pushTag = group user/doyilee
	pushSignedTag = group user/doyilee
